body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "DM Sans";
  font-size: 14px;
}

img {
  height: 100%;
  width: auto;
  display: block;
}

iframe {
  height: 100%;
  width: 100%;
  /* padding-top: 50px; */
  border: 0;
}

a {
  color: #e46787;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  transition: 0.3s;
}

/* HEADER */

/* .row {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
  padding: 20px 0;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  z-index: 10;
  padding: 20px;
  left: 0;
  right: 0;
}

.homeLogo img {
  position: relative;
  height: 40px;
  width: auto;
  filter: brightness(0%);
  padding-right: 10px;
}

.homeLogo img:hover {
  filter: brightness(80%);
  transition: 0.3s;
}

.header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 100%;
  text-align: center;
}
.header-items p {
  padding: 0 15px;
}

.header-items img {
  height: 30px;
  padding-left: 10px;
  position: relative;
  filter: brightness(0%);
}

.header-items img:hover {
  filter: brightness(80%);
  transition: 0.3s;
}

#header-text {
  color: black;
}

#header-text:hover {
  color: #e46787;
  transition: 0.3s;
}
