body {
  margin: 0;
  position: relative;
  height: 100vh;
  font-family: "DM Sans";
  font-size: 14px;
}

img {
  height: 100%;
  width: auto;
  display: block;
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

a {
  color: #e46787;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
  transition: 0.3s;
}

/* HEADER */

#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
}

#menu {
  display: flex;
  align-items: center;
}

#menu img {
  position: relative;
  height: 40px;
  padding: 10px;
  width: auto;
  filter: brightness(0%);
}

#menu img:hover {
  filter: brightness(80%);
  transition: 0.3s;
}

#menu-items {
  display: flex;
}

#menu-items p {
  padding-left: 30px;
  color: black;
}

#menu-items p:hover {
  color: #e46787;
  transition: 0.3s;
}

#contact {
  display: flex;
  padding: 20px 20px 0 0;
}

#contact img {
  height: 30px;
  padding-left: 10px;
  position: relative;
  filter: brightness(0%);
}

#contact img:hover {
  filter: brightness(80%);
  transition: 0.3s;
}

@media only screen and (max-width: 900px) {
  #header {
    background-color: rgba(255, 255, 255, 0.6);
    padding-right: 10px;
  }
  #contact {
    display: none;
  }
  #menu {
    width: 100%;
    justify-content: space-between;
  }
}
