@import "base.css";

/* SECTION 1: HOME */

#home,
#about {
  height: 100%;
  position: relative;
}

.sec1 {
  width: 100%;
  top: 0;
  bottom: 50px;
  position: absolute;
}

video {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* SECTION 2: SCROLL ARROW */

.sec2 {
  width: 100%;
  height: 50px;
  text-align: center;
  bottom: 0px;
  position: absolute;
}

.sec2 img {
  opacity: 40%;
  display: inline-block;
  height: 50px;
}

.sec2 img:hover {
  opacity: 100%;
  transition: 2s;
  transform: scale(1.15);
}

/* SECTION 3: ABOUT */

.sec3 {
  width: 100%;
  top: 50px;
  bottom: 50px;
  position: absolute;
  margin: auto;
}

#aboutDiv {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 60%;
  overflow: visible;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: left;
}

#aboutPic {
  width: 40%;
  position: relative;
}

#me {
  max-width: 80%;
  border-radius: 50%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#aboutText {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#typeHeading {
  width: 100%;
  height: auto;
  position: relative;
  /* color: 	#7ba6d8; */
  color: #e46787;
  /* color: #3d0f1c; */
}

#typing,
#typing2 {
  font-size: 45px;
  letter-spacing: 2px;
}

#ttm,
#ttm2 {
  font-size: 30px;
  letter-spacing: 2px;
}
