@import "base.css";
#header {
  background-color: #d4e4f7;
}

/* BODY */

.body {
  width: 100%;
  height: 92%;
  top: 50px;
  position: absolute;
  display: flex;
  flex-direction: row;
}

/* PROJECT NAVIGATION */

.projNav {
  position: relative;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* right: 0; */
}

#titleImg {
  max-width: 50%;
  height: auto;
}

th,
td {
  padding: 15px;
}

.buttons div {
  width: 300px;
}

.button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: auto;
  color: #e46787;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #ebf2f9;
}

.button:hover {
  background-color: rgba(212, 228, 247, 0.3);
  transition: 0.5s;
  cursor: pointer;
}

/* PICTURE (SECTION 2) */

.pic {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
}

#mainPic {
  position: absolute;
}

#underPic {
  z-index: -1;
  position: absolute;
}

/* INFORMATION DIVISIONS (SECTION 3) */

.info {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
  display: none;
}

.close {
  top: 5;
  right: 5;
  position: absolute;
  height: 30px;
  width: auto;
  opacity: 0.4;
  z-index: 1;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
  transition: 0.5s;
  filter: hue-rotate(127deg);
}

#preload {
  display: none;
}
