
body{
	margin: 0;
	padding: 0;
	font-family: 'DM Sans';font-size: 16px;
}

p {
	font-size: 16px;
}

img {
	height: 100%;
	width: auto;
	display: block;
}

h1 {
	font-size: 40px;
	/* color: #e46787; */
	color: #70a5e1;
	margin: 0;
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	margin: 5px 0px;
	/* color: 	#5795db; */
	font-size: 18px;
	font-weight: normal;
}

b {
	/* color: #7ba6d8; */
	color: 	#5795db;
}

a {
	color: #e46787;
	text-decoration: none;
	font-weight: bold;
}


/* HEADER */

#header {
	/* background-color: #d4e4f7; */
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	height: 8%;
	z-index: 500;
}

#homeLogo {
	position: relative;
	left: 10%;
	filter: brightness(0%);
}

#homeLogo:hover {
	filter: brightness(80%);
	transition: 0.3s;
}

#header-items{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: relative;
	right: 10%;
	text-align: center;
}

#header-text {
	color: black;
	font-size: 18px;
	padding: 12px 40px;
}
#header-text:hover {
	color: #e46787;
	transition: 0.3s;
}


/* BODY */

.sec1 {
	width: 100%;
	height: 92%;
	top: 8%;
	position: absolute;
	display: flex;
	flex-direction: row;
	/* overflow: hidden; */
}

/* PROJECT NAVIGATION (SECTION 1) */

.projNav {
	width: 60%;
    height: 100%;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
}

#titleImg {
	max-width: 50%;
	height: auto;
	position: relative;
}

.buttons {
	width: 100%;
    height: 40%;
	display: flex;
    flex-direction: column;
}

.button {
    width: 30%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    color: #e46787;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #ebf2f9;
}

.button:hover {
	background-color: rgba(212, 228, 247, 0.3);
    font-size: 20px;
    transition: 0.5s;
}


/* PICTURE (SECTION 2) */

.pic {
	width: 40%;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 500;
	background-color: #afb5b6;
}

#mainpic {
	height: 100%;
	width: auto;
	object-fit: cover;
}

#pic1, #pic2, #pic3 {
	top:0; left:0;
	position: absolute;
	display: none;
}

/* INFORMATION DIVISIONS (SECTION 3) */

#d1, #d2, #d3 {
	width: 60%;
	height: 100%;
	margin: auto;
	position: absolute;
	right: 0;
	display: none;
}

/* Under Construction */
#uC {
	height: 100%;
	padding: 10%;
	text-align: center;
}

.return {
	width: 25%;
	margin: auto;
	border-radius: 10px;
	background-color: rgba(235, 242, 249, 1);
	padding: 10px;
}

.return:hover{
	text-decoration: none;
	transform: scale(1.1);
	transition: 0.3s;
	background-color: rgba(260, 242, 249, 0.5);
}

/* Division Headers */
.divHeading {
	height: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.close {
	top: 5; right: 5;
	position: absolute;
	width: 5%; height: auto;
	opacity: 0.4;
}

.close:hover {
	opacity: 0.8;
	transition: 0.5s;
	filter: hue-rotate(127deg);
}

#subtitle {
	font-size: 12px;
	/* margin-bottom: 25px; */
	text-align: center;
	color: #afb5b6;
}

/* Pagination Tabs */

#sections {
	/* background-color: #f0f6fc; */
	background-color: #f5f6fc;
	/* overflow: auto; */
	position: relative;
	height: 85%;
}

#pagination {
	display: flex;
	flex-direction: row;
	height: 8%;
	/* justify-content: space-evenly; */
}
  
.tab {
	color: #93bbeb;
	background-color: white;
	padding: 10px 0;
	width: 100%;
	font-size: 18px;
	text-align: center;
}

.tab:hover {
	transition: 0.3s;
	color: #e46787;
}

.active {
	background-color: #f5f6fc;
	color: #e46787;
}

/* Tab Information */
#d1-tabs {
	height: 90%;
	width: 90%;
	position: relative;
	margin: auto;
	overflow: auto;
	top: 3; left: 0; bottom: 0; right: 0;
	/* text-align: center; */
	/* background-color: rgba(200, 100, 255, 0.2); */
}

#row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#row div {
	padding: 0 5%;
	width: 50%;
}

#d1-t2 {
	display: none;
	height: 100%;
	/* top: 0; */
	/* position: absolute; */
}
