@import "modalStyles.css";

body {
  font-family: "DM Sans";
  font-size: 16px;
  margin: 0;
}

img {
  display: block;
  width: 200px;
  margin: auto;
}

h1 {
  font-size: 30px;
  color: #e46787;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 20px;
}

h4 {
  color: #2462a8;
  font-weight: bold;
  margin: 10px 0 0 0;
}

h5 {
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 5px 0;
  font-weight: 400;
  padding: 10px;
  background-color: rgba(220, 230, 239, 0.5);
}

b {
  /* color: #5795db; */
  color: #2462a8;
}

a {
  color: #e46787;
  text-decoration: none;
  font-weight: bold;
}

table {
  width: 100%;
}

ul {
  list-style-position: outside;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Division Header */
.divHeading {
  padding: 5px;
}

#subtitle {
  font-size: 12px;
  text-align: center;
  color: #afb5b6;
}

/* Pagination Tabs */
#pagination {
  display: flex;
  flex-direction: row;
}

.tab {
  color: #93bbeb;
  background-color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.tab:hover {
  transition: 0.3s;
  color: #e46787;
  cursor: pointer;
}

.active {
  background-color: #f5f6fc;
  color: #e46787;
}

/* Tab Information */
.tabs {
  background-color: #f5f6fc;
  overflow-y: scroll;
  height: 90%;
  padding: 10px 30px;
}

#dt2,
#dt3,
#dt4 {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: scroll;
}

.row img {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 15 10 5;
  text-align: center;
}

.two {
  width: 50%;
}

.three {
  width: 33%;
}
