
h1{
	color:rgba(255,255,255,0.8);
	text-align:center;
	font-family:Lucida Sans Unicode;
	font-size:30;
	
	
}
body{
	text-align:center;
	color:white;
	background-image: url("background1.gif");
	background-attachment:fixed;
	overflow-x: hidden
}

img{
	height:70%;
	opacity:.8;
	vertical-align:middle;
	transition: 1s;
}

img:hover{
  opacity:1;
}

a {
	text-decoration:none;
	color:white;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: right;

	position:fixed;
	z-index: 1;
	width:100%;

	text-align:center;
	font-family:Lucida Sans Unicode;
	font-size:15px;
	background-color:rgba(85,91,126,0.8);


	top:0;
	left:0;

}

.button{
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	vertical-align:middle;
	top:0;
}
/*
.button img{
	height:20px;
	width:20px;
	vertical-align:middle;
}*/

.button:hover {
	background-color:rgb(171, 175, 186);
	color:black;
}

.nameB{
    background-color:rgba(85,91,126,0.8);
	margin: auto;
	width: 20%;
	margin-top: 10%;
}

.name{
  	color:rgba(255,255,255,0.8);
	text-align:center;
	font-family:Lucida Sans Unicode;
	font-size:30;
	padding-top:2%;
	padding-bottom:2%;
}

.about{
	background-color:rgba(85,91,126,1);
	/*position:absolute;*/
	padding:5%;
	width:100%;
	display:flex;
	margin-left:-5%;
}

.about:after {
  content:"";
  clear:both;
  display:block;
  float:none;
}


.column{
  width:50%;
  margin: auto;
}

.box {
	background-color:rgba(0,0,0,0.5);
	width: 40%;
	margin:auto;
	margin-bottom:5%;
	height:50px;
	transition:1s;
}

.box:hover{
	background-color:black;
	width:90%;
	color:transparent;
	height:120px;
 }

.format{
	width:100%;
	transition:2s;
	text-align: center;
}

.option{
 	color:rgba(255,255,255,0.8);
	text-align:center;
	font-family:Lucida Sans Unicode;
	font-size:30;
}			

#info{
	color:rgba(0,0,0,0);
	transition:1s;
	opacity:0;
}

 .box:hover #info{
	color:white;
	opacity:1;
 }